/www/**.cgi
/www/data
/www/admin
/www/scout
/www/.htaccess
/orig
local.*
*.tar.gz
*.tgz
*.zip
.~*
tmp
*.tmp
*.tmp.*
*.swp
*.bak
*~
*.prompt.md

/app/build/
/app/.dart_tool/
/app/.packages
/app/linux/flutter/
/app/macos/Flutter/
/app/windows/flutter/
/app/ios/Flutter/
/app/android/.gradle/
/app/android/local.properties
/app/*.g.dart
