img.count{height:6vmin;width:auto;display:block;margin:1vmin auto;max-height:42px}
img.icon{height:6vmin;display:block;margin:1vmin auto;max-height:42px}
#scouting .side-by-side{display:table-cell;margin:0;padding:0}
#scouting .side-by-side input {width:1.4em}
input.num{width:6vmin;text-align:center;font-size:6vmin;font-weight: bold;font-family:serif}
table{border-collapse:collapse;border:1px solid black;margin-top:3vmin!important;margin-bottom:3vmin!important;width:100%;max-width:40em}
#scouting th{border:1px solid black;font-size:200%}
#scouting td{border:1px solid black!important;overflow:hidden;text-align:center;vertical-align:top;padding:.4em;font-weight:bold; margin-bottom:0;font-size:125%;width:25%;max-width:200px;vertical-align:bottom}
#scouting td > div{display:flex;justify-content:space-around}
.subheader{background:#b6b6b6}
.teleop{display:none}
.cycleStats span,.cycleStats input{font-size:inherit;width:fit-content;display:inline}
.explain{font-size:65%;display:block;text-transform:capitalize}
@media (max-width: 500px) {
    td{padding:.2em}
    img.count{margin:2vmin auto}
    img.icon{margin:2vmin auto}
    body{margin-left:0;margin-right:0}
}