.option{border:1px solid var(--main-border-color);max-width:16em;min-height:15em;margin:0.4em;padding:0.8em}
label{border:1px solid var(--main-border-color);max-width:20em;margin:0.4em auto;padding:0.8em;display:block}
