#alliances input.lastFocus{
    background-color:lemonchiffon;
}
button.picked{
    background-color: darkslategray;
}

button.team{
    width:3em;
    height:1.5em;
    font-size:140%;
    margin:0.25em;
}
table{margin:1em auto}