.tabulator-menu-item{color:black}
html,body{padding:0;margin:0}
#main{display:flex;height:100vh;background:var(--main-bg-color);flex-direction:column;align-content:stretch}
#saver{text-align:start;padding:0.5em}
#editor{flex-grow:1}
