body {text-align:left;padding-top:3.5em}
form {margin:1em;display:inline-block}
.handsontable{font-size:12px;color:black}
#saver{position:fixed;top:0.4em;left:0.4em;z-index:99999;background:var(--main-bg-color); margin:0;padding:0.7em}
