ul{max-width:25em;list-style-type:none}
li{margin:.5em 0;}
.initHid,.more{display:none}
.show-more{cursor:pointer}
#dataTable td,#dataTable th{padding:0.5em}
#matchTable td, #matchTable th {padding:0.15em;border:1px solid var(--main-border-color);cursor:pointer}
#matchTable{margin:1em auto;max-width:27em}
h3{margin:0 0 .25em 0;padding:0}
.narrow{max-width:18em}
.match-id{max-width:7.5em;hyphens:auto}
#eventInfo{margin:1em}
#matchTable .scouted,#matchTable .score{color:var(--highlight-fg-color)}
#matchTable .winner{border-top:0.5em solid var(--winner-color);border-bottom:0.5em solid var(--winner-color)}
#matchTable .error{text-decoration:var(--button-disabled-decoration-color) wavy line-through;text-decoration-thickness:.2em}
#pitScoutSetup img{width:2em;display:block}
#pitScoutSetup{text-align:left}
#pitScoutSetup .side-by-side{margin:.5em .1em}
.ourTeam{text-decoration:solid underline var(--highlight-fg-color) 4px}
.needed{text-decoration:solid underline var(--highlight2-fg-color) 4px}
#jsonLightBox{text-align:left;overflow:auto}
#jsonLightBox h2{margin-left:1em}
.narrow ul{margin:0;padding:0}
.narrow li{margin:.2em 0;padding:0}
.narrow li:visible+li,.narrow li:visible+ul{border-top:1px solid var(--main-border-color);padding-top:0.2em}
.narrow li>ul{border-top:1px solid var(--main-border-color);margin-top:0.2em;padding-left:0.5em}
