form,.siteInput{position:relative}
.hostOptions{margin:0;list-style-type:none;padding:0;background:var(--main-bg-color);display:none;position:absolute;left:0;right:0}
.hostOptions li{border:1px solid var(--main-border-color);padding:0.2em;}
.siteInput{margin:0.5em 0;border:1px solid var(--main-border-color);width:100%}
.siteInput:focus+.hostOptions,.siteInput+.hostOptions:active{display:block}
.side-by-side{max-width:20em;border:1px solid var(--main-fg-color);padding:0.5em}
.loading-spinner{width:1em;animation:spin 4s linear infinite}
@keyframes spin {100% {transform:rotate(360deg)}}
