*{box-sizing:border-box}
html{font-size: 2vmin;color:#ddd;background:#444 url('/background.png') fixed;background-size:33vw auto}
a:link{color:#9cf}
a:visited{color:#c9f}
table,tr,td,th,button,input,select,option,input,textarea,form{font-size:inherit;color:inherit;background:inherit}
button{background:#555;border-color:#555}
body{text-align:center}
table,ul{margin:0 auto;}
ol,ul,p{text-align:left;max-width:40em;margin:0 auto}
*+ul,*+ol,*+p{margin:1em auto}
.right{text-align:right}
.left{text-align:left}
.redTeamBG{background-color:#8C160A;border-color:#8C160A}
.blueTeamBG{background-color:#00A;border-color:#00A}
.lastFocus{background-color:#660}
.side-by-side{display:inline-block;vertical-align:top;margin:1em;box-sizing:content-box}
.winner{border-left-color:#660;border-right-color:#EE6}
#fullscreen{position:fixed;bottom:0.4em;right:0.4em;font-size:200%;cursor:pointer}
#hamburger{position:fixed;top:0;right:0.4em;font-size:300%;cursor:pointer}
#hamburger.hasUploads{background-color:lightgreen}
#mainMenu .dependUpload{font-weight:bold;color:green}
#mainMenu h4 {margin:.75em 0 0 0}
#lightBoxBG{z-index:9998;width:100vw;height:100vh;position:fixed;background-color:#333D;left:0;top:0;display:none}
#lightBoxBG::before{content:'ⓧ';position:fixed;z-index:9999;color:#000;top:.1em;left:.3em;font-size:150%}
.lightBoxCenterContent{z-index:9999;position:fixed;background-color:#000;top:50%;left:50%;transform:translate(-50%,-50%);padding:1em;display:none;text-align:left}
.lightBoxFullContent{z-index:9999;position:fixed;background-color:#000;top:2em;left:2em;width:calc(100vw - 4em);height:calc(100vh - 4em);padding:0;display:none}
@media only screen and (max-width: 600px){
	html{font-size:12px;}
}
@media print {
	html{background:white}
	#hamburger{display:none}
}
