*{box-sizing:border-box}
html{font-size: 2vw}
table,tr,td,th,button,input,select,option{font-size:inherit}
body{text-align:center}
table,ul{margin:0 auto;}
ul{text-align:left}
.right{text-align:right}
.left{text-align:left}
.redTeamBG{background-color:#ff6666;border-color:#ff6666}
.blueTeamBG{background-color:#99ccff;border-color:#99ccff}
.lastFocus{background-color:lemonchiffon}
.side-by-side{display:inline-block;vertical-align:top;margin:1em;box-sizing:content-box}
.winner{background-color:#EE6}
#hamburger{position:absolute;top:0;right:0.4em;font-size:300%}
#hamburger.hasUploads{color:green}
#mainMenuBg{display:none;z-index:98;width:100vw;height:100vh;position:fixed;background-color:#333D;left:0;top:0}
#mainMenu{display:none;z-index:99;position:fixed;background-color:#fff;top:50%;left:50%;transform:translate(-50%,-50%);padding:1em;text-align:left}
#mainMenu .dependUpload{font-weight:bold;color:green}
#mainMenu h4 {margin:.75em 0 0 0}
@media only screen and (max-width: 600px){
	html{font-size:12px;}
}
