button.selected{background:var(--button-selected-bg-color)}
#field{border:1px solid var(--main-border-color);margin:0;padding:0;position:relative}
#field,#fieldBG,#fieldDraw{width:50px;height:100px}
#fieldBG,#fieldDraw{position:absolute;top:0;left:0;right:0;bottom:0}
#fieldBG{background-size:100% 100%;background-repeat:no-repeat;z-index:1}
#fieldBG.rotated{transform:rotate(180deg)}
#field .overlay{position:absolute;z-index:2}
#field canvas{z-index:3}
.team-input{writing-mode:vertical-rl;text-orientation:upright;background-color:inherit;border:none;display:block;margin:0 auto}
.team-input.lastFocus{background-color:var(--focus-bg-color)}
#statsTable{margin:0}
#statsTable th{padding:0.1em;min-width:1.5em}
#drawingControls{margin:1em 0}
iframe{width:100%;height:100%}
.viewTeam{text-align:center;font-size:200%}
button.team.picked{text-decoration:var(--button-disabled-decoration-color) wavy line-through;text-decoration-thickness:.2em}
button.team{width:3em;height:1.5em;margin:0.25em}
#statsTable img{max-width:40px;max-height:40px;display:block;margin:0 auto;padding:0;border:none;cursor:pointer}
#statsTable td{text-align:center}
#statsTable td.best{color:var(--highlight-fg-color);font-weight:bold}
#imageLightBox img{object-fit:contain;width:100%;height:100%}
#stamps img{height:1em}
#fullPhoto{object-fit:contain;background:#0000;border:none}
.footnote{font-size:75%}
.icon-button{width:2em;height:2em}
#field,#stats{position:absolute;left:0;top:0}
body{text-align:left}
