button.selected{background:var(--button-selected-bg-color)}
#field{border:1px solid var(--main-border-color);margin:0;padding:0;position:relative}
#field,#fieldBG,#fieldDraw{width: 50px;height:100px}
#fieldBG,#fieldDraw{position:absolute;top:0;left:0;right:0;bottom:0}
#fieldBG{background-size:contain;background-repeat:no-repeat}
#fieldBG.rotated{transform:rotate(180deg)}
#statsTable input{writing-mode:vertical-rl;text-orientation:upright;background-color:inherit;border:none;display:block;margin:0 auto}
#statsTable th {padding:0.1em;min-width:1.5em}
html,body{margin:0;padding:0;text-align:left}
#drawingControls{margin:1em 0}
.f{display:flex;gap:10px;flex-wrap:wrap;justify-content:space-around;align-items:center}
.f table {margin:0;font-size:75%}
iframe{width:100%;height:100%}
.viewTeam{text-align:center;font-size:200%}
.rightColumn{max-width:24em}
button.team.picked{text-decoration:var(--button-disabled-decoration-color) wavy line-through;text-decoration-thickness:.2em}
button.team{width:3em;height:1.5em;margin:0.25em}
#statsTable img{max-width:40px;max-height:40px;display:block;margin:0 auto;padding:0;border:none;cursor:pointer}
#statsTable td{text-align:center}
#statsTable th{max-width:8em}
#imageLightBox img{object-fit:contain;width:100%;height:100%}
#stamps img{height:.8em}
#fullPhoto{object-fit:contain;background:#0000;border:none}
@media only screen and (max-width: 1150px) and (min-width: 750px){
	.f{display:table;width:100%}
	canvas,.rightColumn{display:table-cell;vertical-align:middle}
	.rightColumn>*{margin:0 auto;width:auto}
	html{overflow-y:hidden}
}
