#select-bot table, #scouting table{margin: 0 auto}
#select-bot td{width:20vw}
#select-bot button{font-size:150%}
#select-bot button.highlighted{background-color:var(--highlight-bg-color);border-color:var(--highlight-bg-color);color:var(--main-fg-color)}
#match-list{font-size:120%;font-weight:bold;margin:0 auto;column-width:12em;margin:1em 0;max-width:100%}
#match-list .match{white-space:nowrap;margin:0;width:12em;text-align:left}
img.bigimg{width:48vw}
img.expandable-image{width:5em;vertical-align:middle;cursor:pointer}
img.full-image{object-fit:contain;width:100%;height:100%}
img.count{max-width:10em;margin:0.25em 0;cursor:pointer}
label > span,button{background:var(--button-bg-color);color:var(--button-fg-color);display:inline-block;padding:.5vw;border-radius:1vw;min-width:8vw;text-align:center;margin:.5vw 0;cursor:pointer;}
label :checked+span{background:var(--button-selected-bg-color)}
label :disabled+span{text-decoration:var(--button-disabled-decoration-color) wavy line-through;text-decoration-thickness:.2em}
input[type='checkbox'],input[type='radio'], .init-hide{display:none}
.full{width:calc(100% - 1em);margin:.5em auto;max-width:50em;display:block}
label,fieldset{display:inline-block}
input[type="text"]:disabled{background-color:inherit;border:none;color:inherit}
input.num{text-align:right}
fieldset{margin:0.5em;font-weight:normal}
hr{height:0.5em;border:none}
button.redTeamBG,button.blueTeamBG{color:var(--main-fg-color)}
button.stored,button.complete{color:var(--highlight-fg-color);background-color:var(--lowlight-bg-color);border-color:var(--lowlight-bg-color)}
#featuredButton button{font-size:200%;display:block;margin:1em auto;padding:1em}
#select-team button{margin:0.5em}
textarea{width:100%;height:8em;max-width:40em}
img.robot-location{max-width:20em;border:1px solid var(--main-border-color)}
.tabs{font-size:150%;font-weight:bold;margin-top:.5em}
.tab{display:inline-block;padding:.5em 1em;border:solid var(--main-border-color);border-width:1px 1px 0;border-radius: .5em .5em 0 0;cursor:pointer}
.subheader{background:var(--section-bg-color)}
.colorBar{height:.5em;margin:0em 0em .25em 0em;border-radius:5px}
.colorBar.white{background-color:var(--main-fg-color)}
