h4{margin:.5em 0 0 6em;padding:0;text-align:left}
.dosort.active{color:blue}
.statRow{text-align: right}
.picked{background-color:darkgray}
.best{background-color:greenyellow}
td,th{padding:0.2em}
.chart{width:100%;padding:0 1em}
canvas{max-height:20em;width:90vw;}
#lightBoxBG{z-index:98;width:100vw;height:100vh;position:fixed;background-color:#333D;left:0;top:0}
#lightBoxContent{z-index:99;position:fixed;background-color:#fff;top:2em;left:2em;bottom:2em;right:2em;padding:0}
iframe{width:100%;height:100%}
