.active{background-color:var(--button-selected-bg-color);border-color:var(--button-selected-bg-color)}
.statRow{text-align: end}
.best{background:var(--highlight-bg-color)}
td,th{padding:0.2em}
.graph{display:inline-block;max-width:100%}
.chart,.heatmap{padding:0 1em;display:inline-block}
.chart canvas{height:20em}
#teamPicker{padding:2em}
button.team.picked{text-decoration:var(--button-disabled-decoration-color) wavy line-through;text-decoration-thickness:.2em;}
button.team{width:3.5em;height:1.5em;margin:0.25em}
button.sortByBtn{margin:0.25em}
iframe{width:100%;height:100%}
#statsTable th.team{writing-mode:vertical-rl;text-orientation:upright}
#statsTable{font-size:12px;margin:1em auto;border-collapse:collapse}
#statsTable h4{margin:1em 0 0.5em 0;font-size:200%;text-align:start;display:inline-block}
#statsTable th,#statsTable td{border:1px solid var(--main-border-color)}
#statsTable .borderless{border:none}
#statsTable td.blank{border:none;height:2em}
#statsTable .picked{background-color:var(--lowlight-bg-color)}
@media (min-height:800px){
	.chart canvas{max-height:50vh}
}
#teamlists{position:fixed;right:.2em;top:4em;width:6em;border:0.1em solid var(--main-border-color);border-radius:0.5em;background:var(--main-bg-color);padding:0.4em;display:none}
[dir="rtl"] #teamlists{left:.2em;right:unset}
#teamlists > * {margin:0.2em 0}
.sortable-list{min-width:4em;min-height:1em;}
