#comments{max-width:30em;margin:0 auto;text-align:left}
.scouter{text-align:right}
.scouter::before{content:"-- "}
canvas{max-height:20em;min-height:11em}
.graph{display:inline-block;max-width:100%}
.chart{padding:0 1em;display:inline-block}
.comments{white-space:pre-wrap}
.imagePreview img{width:320px}
.imagePreview{display:inline}
#fullPhoto{object-fit:contain;background:#0000;border:none}
