img.count{width:142px; display:block; margin:.5em auto}
img.plus{width:57px}
input.num{text-align:center;font-size: 60px;font-weight: bold;font-family:serif}
.right-buttons{margin-left:0px; margin-right:0px}
.left-buttons{margin-right:0px}
table{border-collapse:collapse;border:1px solid black}
th{border:1px solid black;font-size:40px;vertical-align:top}
td{border:1px solid black;text-align:center;vertical-align:top;padding:5px;font-weight:bold; margin-bottom:0}
#powerPort{background-size:contain;background-repeat:no-repeat;background-color:inherit;background-position:center}
#powerPort.blueTeamBG{background-image:url('blue_power_port.jpg')}
#powerPort.redTeamBG{background-image:url('red_power_port2.png')}
