#scouting{max-width:30em;margin:0 auto}
html{padding:0}
#nextButtons{margin-bottom:50vh}
#select-bot button{font-size:100%}
.tab-content{border:1px solid var(--main-border-color)}
.field-actions{background:url(field.png) no-repeat center center;background-size:100%;aspect-ratio:1.875;width:100%;max-width:20em;margin:0 auto;position:relative;}
.field-actions button,.field-actions .robot{position:absolute;width:7%;min-width:0;padding:0;border-radius:10%;aspect-ratio:1}
.field-actions .robot{border:.25em solid var(--red-team-color);background:gray}
.blueTeam .field-actions .robot{border-color:var(--blue-team-color)}
.target.active{background:var(--button-selected-bg-color)}
.fuel{width:2.3em;height:2.3em;border-radius:50%;background:#f1ce03;font-size:300%}
