#scouting>div>table{border-collapse:collapse;border:1px solid var(--main-border-color);margin-bottom:3vmin;width:100%;max-width:40em}
#scouting>div>table>tbody>tr>th{border:1px solid var(--main-border-color);font-size:200%}
#scouting>div>table>tbody>tr>td{border:1px solid var(--main-border-color);overflow:hidden;text-align:center;padding:.4em;font-weight:bold; margin-bottom:0;font-size:125%;vertical-align:top}
img.count{max-width:7em}
input.num{text-align:center}
.teleop img.count{max-width:4em}
.two-column{column-count:2;column-gap:1em}
.two-column>div{break-inside:avoid-column}
#collect-map{width:20em;height:20em;position:relative;display:inline-block}
.blueTeam #collect-map{background:url(auto-collect-blue.png) no-repeat center center / 100% 100%}
.redTeam #collect-map{background:url(auto-collect-red.png) no-repeat center center / 100% 100%}
#collect-map label{position:absolute;display:block}
#collect-map label span{color:orange;font-weight:bold;min-width:2vw}
.blueTeam .auto_collect_red{display:none}
.redTeam .auto_collect_blue{display:none}
.auto_collect_centerline{top:86%}
.auto_collect_red,.auto_collect_blue{top:30%}
.redTeam .auto_collect_amp, .blueTeam .auto_collect_source{left:5.5%}
.redTeam .auto_collect_mid_amp, .blueTeam .auto_collect_mid_source{left:25.5%}
.auto_collect_mid{left:45.5%}
.blueTeam .auto_collect_mid_amp, .redTeam .auto_collect_mid_source{left:65.5%}
.blueTeam .auto_collect_amp, .redTeam .auto_collect_source{left:85.5%}
